<%= form_for(:comment, url: comments_path, remote: true) do |f| %>
  <div class="field">
    <%= hidden_field_tag :micropost_id, micropost.id %>
    <%= f.text_field :content, placeholder: "..." %>
  </div>
  <%= f.submit "comment", class: "btn btn-primary" %>
<% end %>

